<nav>
  <link rel="stylesheet" href="styles.css">

    <div class="navbar">
      <a href="/">
        <img src="/images/logo.png" alt="Logo" style="height: 30px;width: 30px;" class="logo">
      </a>
      <ul>
        <li>
          <a href="/">
            <img src="/icons/home.svg" alt="Logo" style="height: 30px;width: 30px;" class="logo">
            Inicio
          </a>
        </li>
        <li>
        <a href="/">
          <img src="/icons/contact.svg" alt="Logo" style="height: 30px;width: 30px;" class="logo">
          Contact
        </a>
      </li>
      <li>
      <a href="/">
        <img src="/icons/info.svg" alt="Logo" style="height: 30px;width: 30px;" class="logo">
        Info
      </a>
    </li>
      </ul>
    </div>
  </nav>
